* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("RECURSOS/mapamundo.png");
    background-size: cover;
    width: 1000px;
    height: 230px;
    margin: 0 auto;

}

.header h1 {
    background-color: white;
    opacity: 0.6;
    width: 100%;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 82px;
}

#letra {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: lighter;
}

.lista {
    display: flex;
    justify-content: space-around;
    padding: 35px 25px;
}

.item {
    list-style: none;
}

.item:hover {
    color: rgb(112, 81, 105);
    cursor: pointer;
}

.imagenes {
    width: 80%;
    height: 550px;
    margin: 0 auto;
    display: flex;
}

.imagenes img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    transition: .5s ease;
}

.imagenes img:hover {
    width: 250px;
    cursor: pointer;
}